<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sacramento&display=swap');
  </style>
  <title>Admin</title>
</head>
<body>
  <header>
    <h1>Painel Administrativo</h1>  
  </header>
  <section>
    <div class="box margem">
      <h3>Administração de Produtos</h3>
      <h5>Página para administrar os produtos da Pet Is Life</h5>
      <a href="/admin/adminProdutos">
        <button>ACESSAR</button>
      </a>
    </div>
    <div class="box">
      <h3>Administração de Categorias</h3>
      <h5>Página para administrar as categorias da Pet Is Life</h5>
      <a href="/admin/adminCategorias">
        <button>ACESSAR</button>
      </a>
    </div>
  </section>
</body>
</html>