<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/adminProdutos.css" />
  <title>Administração de Categorias</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sacramento&display=swap');
  </style>
</head>
<body>
  <header>
    <h1>Administração de Categorias</h1>  
  </header>
  <section>
    <a href="/admin/cadastrocategoria">
      <button class="margem">Cadastrar Categoria</button>
    </a>
    <a href="">
      <button>Listagem de Categorias</button>
    </a>
  </section>
</body>
</html>