<div class="conteiner-cards">
    <div class="cards">
        <img src="/img/Casaco_joaninha_-1-.webp" class="imgProdutos" alt="caminha print">
        <div>
            <h2 class="tituloCard">Casaco Joaninha</h2>
            <h3 class="precoCard">R$ 107,50</h2id>
            </h3>
            <h1 class="precoReal">R$ 75,20</h1>
            <button class="btnCard">Comprar</button>
        </div>

    </div>

    <div class="cards">
        <img src="/img/Manta.jpg" class="imgProdutos" alt="Manta">
        <div>
            <h1 class="tituloCard">Manta Polar</h1>
            <h3 class="precoCard">R$ 59,90</h2id>
            </h3>
            <h1 class="precoReal">R$ 39,90</h1>
            <button class="btnCard">Comprar</button>
        </div>
    </div>

    <div class="cards">
        <img src="/img/Banho-a-Seco-Beeps-200ml-3862436.webp" class="imgProdutos" alt="caminha print">
        <div>
            <h1 class="tituloCard">Banho a seco</h1>
            <h3 class="precoCard">R$ 36,90</h2id>
            </h3>
            <h1 class="precoReal">R$ 33,20</h1>
            <button class="btnCard">Comprar</button>
        </div>
    </div>
</div>