<footer>
    <div class="footer-g">
        <div>
            <h1 id="h1Footer">Como podemos ajudar você?</h1>
            <a href="/quemsomos">
                <small>Conheça mais sobre nossa empresa,<br> políticas e tenha o melhor<br> atendimento do mercado pet</small>
            </a>
        </div>
        <div>
            <p>Atendimento:</p>
            <a id="sac" href="">sac@petlove.com.br</a>
        </div>
        <div>
            <p>Onde estamos:</p>
            <div>
                <a href="">
                    <img class="footer-img" src="/img/facebook.png" alt="facebook">
                </a>
                <a href="">
                    <img class="footer-img" src="/img/instagram.png" alt="instagram">
                </a>
                <a href="">
                    <img class="footer-img" src="/img/twitter.png" alt="twitter">
                </a>
                <a href="">
                    <img class="footer-img" src="/img/youtube.png" alt="youtube">
                </a>
            </div>
            <p>Baixe o App:</p>
            <div>                
                <div>
                    <a href="">
                        <img class="footer-img" src="/img/app-store.png" alt="app-store">
                    </a>
                    <a href="">
                        <img class="footer-img" src="/img/google-play.png" alt="google-play">
                    </a>
                </div>
            </div>
        </div>
    </div>               
</footer>
    <section id="last-item">
        <a href="">Aviso de Privacidade</a>
        <a href="">Política de Compra, Entrega e Devolução.</a>
        <img id="cards" src="/img/cartoes.webp" alt="cartoes">
    </section>