<header>
    <section class="header1"> 
        <div id="menu-mobile">
            <img src="/img/menu-icon.png" id="menu-mobile">
        </div>  
        <a href="/home">
            <img id="logo" src="/img/logo1.png" alt="logo1">
        </a>     
        <div class="input-busca">
            <div class="buscar">
                <input type="text">
                <a href="">
                    <buttont id="button-header1">Buscar</buttont>
                </a>
            </div>
            <a href="/login">
                <buttont id="button-header2">Login</buttont>
            </a>
            <a href="">
                <img id="carrinho" src="/img/Icone-Carrinho.png" alt="carrinho">
            </a>
        </div>
    </section>
    <section class="header2">
        <a href="">Cachorros</a>
        <a href="">Gatos</a>
        <a href="">Peixes</a>
        <a href="">Pássaros</a>
        <a href="">Outros Pets</a>
        <a href="">Promoções</a>
    </section>
</header>