<header>
    <div id="header-1">
        <section class="header1"> 
            <div id="menu-mobile">
                <img src="/img/menu-icon.png" id="menu-mobile">
            </div>  
            <a href="/home">
                <img id="logo" src="/img/logo1.png" alt="logo1">
            </a>     
            <div class="input-busca">
                <div class="buscar">
                    <input type="text">
                    <a href="">
                        <buttont class="button-header">Buscar</buttont>
                    </a>
                </div>
                <a href="/login">
                    <button id="login-cadastro" class="button-header">Login</button>
                </a>
                <a href="">
                    <img id="carrinho" src="/img/Icone-Carrinho.png" alt="carrinho">
                </a>
            </div>
        </section>
        <section class="header2 text-primary">
            <a href="">Cachorros</a>
            <a href="">Gatos</a>
            <a href="">Peixes</a>
            <a href="">Pássaros</a>
            <a href="">Outros Pets</a>
            <a href="">Promoções</a>
        </section>
    </div>

    <div class="menu-mobile">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              </ul>
              <a href="/login"><button class="button-header my-2 my-sm-0" type="submit">Login</button></a>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
              </form>
              <button class="button-header my-2 my-sm-0" type="submit">Pesquisar</button>
            </div>
          </nav>

    </div>
        
</header>