<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/finalizacao-de-compra.css" />
    <title>finalizacao de compra | PET IS LIFE</title>
</head>

<body>
    <%- include('components/header') %>

        <div id="card-pai">
            <div id="card-login">
                <div class="card-filho">
                    <h1>Minha Conta</h1>
                    <h5>Dados cadastrais</h5>
                    <h5>Meus pedidos</h5>
                    <h5>Sair</h5>

                </div>
            </div>
            <main>
                <section class="meus-pedidos">
                    <h1><strong>Meus Pedidos</strong></h1>
                </section>
                <section class="produtos-carrinho">

                    <div class="pedidos">
                        <div class="pedidos-1">
                            <div class="numero-pedido">
                                <p>Pedido #001</p>
                            </div>
                            <div class="button">
                                <button id="button-resumo">Ver informações</button>
                            </div>


                        </div>
                        <div class="pedidos-2">
                            <div class="numero-pedido">
                                <p>Pedido #002</p>
                            </div>
                            <div class="button">
                                <button id="button-resumo">Ver informações</button>
                            </div>
                        </div>
                        <div class="pedidos-3">
                            <div class="numero-pedido">
                                <p>Pedido #003</p>
                            </div>

                            <div class="data-pedido">
                                <p>Realizado em 25/08/21</p>
                            </div>

                            <div class="informacao-pedido">
                                <div class="descricao">
                                    <p>Cama Confort - Animal Print</p>
                                </div>
                                <div class="quantidade">
                                    <p>quantidade</p>
                                    <p>2</p>
                                </div>
                                <div class="pagamento">
                                    <p>total</p>
                                    <p>R$ 202,00</p>
                                    <p>Forma de pagamento: Cartão visa em 2 vezes</p>
                                    <p>Status: Concluido</p>
                                </div>
                                <div class="button">
                                    <button id="button-resumo">Ocultar</button>
                                </div>
                            </div>

                        </div>







                </section>

        </div>
        </div>
        </section>
        </main>





        </div>


        <%- include('components/footer') %>
</body>

</html>