<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/finalizacao-de-compra.css" />
    <title>finalizacao de compra | PET IS LIFE</title>
</head>

<body>
    <%- include('components/header') %>

        <main class="finalizacao-de-compra">
            <div class="minha-conta">
                <h1>Minha Conta</h1>
                <h5>Dados cadastrais</h5>
                <h5>Meus pedidos</h5>
                <h5>Sair</h5>
            </div>
            <div class="meus-pedidos">
                <h1>Meus pedidos</h1>

                <div class="pedidos">
                    <p>Pedido #001</p>
                    <button class="button-resumo">Ver informações</button>
                </div>

                <div class="pedidos">
                    <p>Pedido #002</p>
                    <button class="button-resumo">Ver informações</button>
                </div>

                <div class="pedidos">
                    <p>Pedido #003</p>
                    <button class="button-resumo">Ver informações</button>
                </div>

            </div>
        </main>

        <%- include('components/footer') %>
</body>

</html>