<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Home | PET IS LIFE</title>
</head>
<body>
    <!-- PADRÃO -->
    <header>
        <img src="/img/logo.png" alt="logo" href="#" id="img-nav">
        <div id="caixaPesquisar">
            <input type="text" name="pesquisa" id="search">
            <button type="submit">Pesquisar</button>
        </div>
        <a href="">Assine</a>
        <a href="">Pedidos</a>
        <a href="">Carrinho</a>
        <a href=""><button>Cadastro</button></a>
    </header>
    <!-- PADRÃO -->
    <main>
        <img src="/img/fundo-dog.jpeg"/>
    </main>
    <!-- PADRÃO -->
    <footer>
        <div class="div-footer" id="div-footer-1">
            <p>
                Como podemos ajudar você?
            </p>
            <small>
                Conheça mais sobre nossa empresa, políticas e tenha o melhor atendimento do mercado pet
            </small>
        </div>
        <div class="div-footer">
            <p>
                Atendimento
            </p>
            <a href="">
                Central de atendimento
            </a>
            <!-- borda -->
            <a href="">sac@petlove.com.br</a>
        </div>
        <div class="div-footer" id="div-footer-3">
            <p>
                Onde estamos
            </p>
            <div id="logoFooter">
                <a href="">
                    <img src="/img/facebook.png" alt="facebook">
                </a>
                <a href="">
                    <img src="/img/instagram.png" alt="instagram">
                </a>
                <a href="">
                    <img src="/img/twitter.png" alt="twitter">
                </a>
                <a href="">
                    <img src="/img/youtube.png" alt="youtube">
                </a>
            </div>
        <div>
        <p>
            Baixe o app
        </p>
            <div>
                <a href="">
                    <img src="/img/app-store.png" alt="app-store">
                </a>
                <a href="">
                    <img src="/img/google-play.png" alt="google-play">
                </a>
            </div>                  
        </div>  
        </div>      
        <div>
            <div class="div-footer">
                <ul>
                    <li>
                        <p>
                        Políticas
                    </p>
                    </li>
                    <li>
                        <a href="">Aviso de privacidade</a>
                    </li>
                    <li>
                        <a href="">Política de Cookies</a>
                    </li>
                    <li>
                        <a href="">Política de entrega e devolução</a>
                    </li>
                    <li>
                        <a href="">Política de compra</a>
                    </li>
                    <li>
                        <a href="">Política de white hat</a>
                    </li>
                </ul>            
            </div>  
        <img id="cartoes" src="/img/cartoes.webp" alt="cartoes">
        </div>
    </footer>
    <!-- PADRÃO -->
</body>
</html>
