<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sacramento&display=swap');
    </style>
    <title>Home | PET IS LIFE </title>
</head>

<body>
    <%- include('components/header') %>

    <main>
        <div>
            <% if(typeof error != 'undefined'){%>
            <h6><%= error %></h6>
            <% } %>
        </div> 

        <div id="slide">
            <img id="slide-width" src="/img/slide/bannerSlide.png">
        </div>
    </main>

    <%- include('components/cards') %>

    <div class="marcasParceiras">
        <h1 id="tituloMarca">MARCAS PARCEIRAS: </h1>
        <div class="marcasLinha1">
            <a href="https://www.bayer.com.br/pt/">
                <img src="/img/marcasParceiras/imagem-marca-bayer-pet-bayer.jpg" alt="Bayer Logo">
            </a>
            <a href="https://int.ferplast.com/pt-br">
                <img src="/img/marcasParceiras/imagem-marca-ferplast-ferplast.jpg" alt="Ferplast">
            </a>
            <a href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwj_7-W2uJ3yAhUCkoYKHTbxAQEYABAWGgJ2dQ&ae=2&ohost=www.google.com&cid=CAESQeD24LtVL2zCyTq3ZulaB_Te4-1j-Wsw06kSPla9ddxvhOsWUCKL8-HCxvedjIIsyHxvuqXC1TgWMnPxzzKrOKbi&sig=AOD64_2WXOWLa7lBvmIiffRyP_YE2-kQag&q&adurl&ved=2ahUKEwjB7Na2uJ3yAhVZlJUCHew9AvoQ0Qx6BAgDEAE">
                <img src="/img/marcasParceiras/imagem-marca-frontline-frontiline_plus.jpg" alt="frontline">
            </a>
            <a href="https://www.jambopet.com.br/">
                <img src="img/marcasParceiras/imagem-marca-jambo-pet-jambo_pet.jpg" alt="pet jambo">
            </a>
            <a href="https://www.pedigree.com.br/">
                <img src="/img/marcasParceiras/imagem-marca-pedigree-pedigree.jpg" alt="pedigree">
            </a>
            <a href="https://petsociety.com.br/">
                <img src="/img/marcasParceiras/imagem-marca-pet-society-pet_society.jpg" alt="society - pet">
            </a>
            <a href="https://www.purina-latam.com/pt-br/br/purina">
                <img src="/img/marcasParceiras/imagem-marca-purina-purina.jpg" alt="">
            </a>
            <a href="https://www.royalcanin.com/br">
                <img src="/img/marcasParceiras/imagem-marca-royal-canin-royal_canin.jpg" alt="">
            </a>
            <a href="http://supersecao.pet/">
                <img src="/img/marcasParceiras/imagem-marca-supersecao-super_secao.jpg" alt="">
            </a>
            <a href="https://www.whiskas.com.br/">
                <img src="/img/marcasParceiras/imagem-marca-whiskas-whiskas.jpg" alt="">
            </a>
            <a href="https://www.farmina.com/br/alimentos-para-c%C3%A3es/35-n&d-prime-canine.html">
                <img src="/img/marcasParceiras/nd.jpg" alt="">
            </a>
            <a href="https://www.premierpet.com.br/">
                <img src="/img/marcasParceiras/premierpet.jpg" alt="">
            </a>
        </div>
    </div>
    

    <%- include('components/footer') %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
</body>
</html>