<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home | PET IS LIFE</title>
</head>
<body>
    <!-- PADRÃO -->
    <header>
        <img src="/img/logo.png" alt="logo">
        <input type="text" id="">
        <a href="">Assine</a>
        <a href="">Pedidos</a>
        <a href="">Carrinho</a>
        <a href=""><button>Cadastro</button></a>
    </header>
    <!-- PADRÃO -->

    <!-- PADRÃO -->
    <footer>
        <div>
            <h3>
                Como podemos ajudar você?
            </h3>
            <small>
                Conheça mais sobre nossa empresa, políticas e tenha o melhor atendimento do mercado pet
            </small>
        </div>
        <div>
            <h4>
                Atendimento
            </h4>
            <a href="">
                Central de atendimento
            </a>
            <!-- borda -->
            <a href="">sac@petlove.com.br</a>
        </div>
        <div>
            <h4>
                Onde estamos
            </h4>
            <div>
                <a href="">
                    <img src="" alt="facebook">
                </a>
                <a href="">
                    <img src="" alt="instagram">
                </a>
                <a href="">
                    <img src="" alt="twitter">
                </a>
                <a href="">
                    <img src="" alt="youtube">
                </a>
            </div>
            <h4>
                Baixe o app
            </h4>
            <div>
                <a href="">
                    <img src="" alt="app-store">
                </a>
                <a href="">
                    <img src="" alt="google-play">
                </a>
            </div>
            <div>
                <h4>
                    Políticas
                </h4>
                <a href="">Aviso de privacidade</a>
                <a href="">Política de Cookies</a>
                <a href="">Política de entrega e devolução</a>
                <a href="">Política de compra</a>
                <a href="">Política de white hat</a>
            </div>
        </div>
        <div>
        <img src="/img/cartoes.webp" alt="cartoes">
        </div>
    </footer>
    <!-- PADRÃO -->
</body>
</html>
