<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Home | PET IS LIFE</title>
</head>

<body>
    <!-- PADRÃO -->
    <header>
        <section class="header1">
            <a href="">
                <img id="logo" src="/img/logo1.png" alt="logo1">
            </a>
            <div class="buscar">
                <input type="text">
                <a href="">
                    <buttont id="button-header1">Buscar</buttont>
                </a>
            </div>
            <a href="">
                <buttont id="button-header2">Login / Cadastro</buttont>
            </a>
            <a href="">
                <img id="carrinho" src="/img/Icone-Carrinho.png" alt="carrinho">
            </a>
        </section>
        <section class="header2">
            <a href="">Cachorros</a>
            <a href="">Gatos</a>
            <a href="">Peixes</a>
            <a href="">Pássaros</a>
            <a href="">Outros Pets</a>
            <a href="">Promoções</a>
        </section>
    </header>
    <!-- PADRÃO -->

    <main>
       
    </main>

    <!-- PADRÃO -->
    <footer>
        <div>
            <h1>Como podemos ajudar você?</h1>
            <small>Conheça mais sobre nossa empresa,<br> políticas e tenha o melhor<br> atendimento do mercado pet</small>
        </div>
        <div>
            <p>Atendimento:</p>
            <a id="sac" href="">sac@petlove.com.br</a>
        </div>
        <div>
            <p>Onde estamos:</p>
            <div>
                <a href="">
                    <img class="footer-img" src="/img/facebook.png" alt="facebook">
                </a>
                <a href="">
                    <img class="footer-img" src="/img/instagram.png" alt="instagram">
                </a>
                <a href="">
                    <img class="footer-img" src="/img/twitter.png" alt="twitter">
                </a>
                <a href="">
                    <img class="footer-img" src="/img/youtube.png" alt="youtube">
                </a>
            </div>
            <p>Baixe o App:</p>
            <div>                
                <div>
                    <a href="">
                        <img class="footer-img" src="/img/app-store.png" alt="app-store">
                    </a>
                    <a href="">
                        <img class="footer-img" src="/img/google-play.png" alt="google-play">
                    </a>
                </div>
            </div>
        </div>               
    </footer>
        <section id="last-item">
            <a href="">Aviso de Privacidade</a>
            <a href="">Política de Compra, Entrega e Devolução.</a>
            <img id="cards" src="/img/cartoes.webp" alt="cartoes">
        </section>
    <!-- PADRÃO -->
</body>

</html>