<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Home | PET IS LIFE</title>
</head>

<body>
    <%- include('components/header') %>
    <main>

        <div id="slide">
            <img class="seta-esquerda" src="/img/seta-esquerda.png">
            <img src="/img/slide-01.png">
            <img class="seta-direita" src="/img/seta-direita.png">
        </div>

    </main>

    <div class="cards">
        <img src="/img/arquivos-psd/cards/card-01.png" id="card-01">
        <img src="/img/arquivos-psd/cards/card-02.png" id="card-02">
        <img src="/img/arquivos-psd/cards/card-03.png" id="card-03">

    </div>
    </main>
    <%- include('components/footer') %>
</body>

</html>