<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <title>Login | PET IS LIFE</title>
</head>

<body>
    <%- include('components/header') %>
    <div id="card-pai">
        <div id="card-login">
            <div class="card-filho">
            <h1>Login Cliente</h1>
            <h5>e-mail:</h5>
            <input class="ent-dados" type="text">
            <h5>senha:</h5>
            <input class="ent-dados" type="text"
            placeholder="mostrar">
            <h5>Esqueci minha senha</h5>
            <button id="btnEntrar" type="submit">Entrar</button>
            <h5 id="ou">ou</h5>
            <button id="btnFacebook">Entrar com Facebook</button>
            <p>Não tem cadastro ? <a href="/cadastro">Cadastre-se</a></p>
            </div>
        </div>
        <img src="/img/dog-login.png" alt="">
    </div>

    <main>
        <% if(typeof error !== 'undefined') { %> 
        <h1><%= error %></h1>
        <% } %> 
        <form
        action="/verificarUsuario"
        method="POST"
        >
          <label>Email</label>
          <input type="email" name="email" />
          <label>Senha</label>
          <input type="password" name="senha" />
          <button type="submit">Enviar</button>
          <small>Não tem cadastro? <a href="/cadastro">Clique aqui</a></small>
        </form>
      </main>    
    
    <%- include('components/footer') %>
</body>

</html>