<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/quem-somos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Quem somos | PET IS LIFE</title>
</head>

<body>
    <%- include('components/header') %>      
    <main>
        <div>
            <img src="/img/fundo-dog.jpeg" alt="" id="banner-quem-somos">
        </div>
        <div class="quem-somos">
            <h1>Quem Somos</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut non dolorum ut dolor voluptatum velit pariatur sint totam, natus, veniam, vel consequuntur? Tempore, dicta. Numquam, porro. Voluptate nihil officia perspiciatis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio numquam enim est dolore? Quas dolorem fugit qui quod aspernatur, sapiente modi quisquam rerum maxime voluptates nesciunt itaque numquam? Delectus, nisi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, aspernatur! Tempore voluptates ut mollitia placeat debitis voluptate quis incidunt reprehenderit eius rem. Consequuntur quas reprehenderit rerum architecto odio, nisi perferendis.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quo, nesciunt laboriosam vitae voluptate incidunt corrupti excepturi nulla reiciendis! Dolore, delectus. Facere exercitationem natus nihil similique. Nemo, nam! Dignissimos, maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione omnis magnam delectus dolores sint nostrum eaque laudantium consequatur, architecto illum, odit voluptates et assumenda sapiente necessitatibus perferendis sit enim alias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eaque expedita quas nostrum? Dolorum aliquid unde ut, aut, aperiam fugit ab officia facere tempore amet, illo cupiditate possimus similique incidunt?</p>
        </div>
    </main>
    <%- include('components/footer')%>
</body>

</html>