body {
  margin: 0;
  background-color: #f1f7fa;
}
header {
  background-color: #8bc0df;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
h1 {
  color: #fff;
  margin: 0;
  font-family: "Sacramento", cursive;
  font-size: 55px;
}
section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.box {
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.margem {
  margin-right: 30px;
}
h3 {
  font-weight: bold;
  font-size: 23px;
}
h5 {
  margin-top: 75px;
  margin-bottom: 40px;
}
button {
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 45px;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
button:hover {
  border-radius: 20px;
  width: 150px;
  height: 45px;
  background-color: #8bc0df;
  color: #fff;
  cursor: pointer;
  transition-delay: 0.2s;
}
