

main.main-form {
    background-color: #8BC0DF;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;    
    width: 400px;
    margin-left: 40%;
}

@media (max-width: 800px) {
    main.main-form {
        margin: 20px;
        width: 90%;
    }
}

form {   
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.label-cadastro {
    color: black;
    font-size: 20px;
}

.input-cadastro {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

#button-cadastro {
    background-color: #7728ab;
    padding: 11px 40px;
    border-radius: 14px;
    border: 4px solid #8bc0df;
    color: #fff;
}

