section.carrinho {
    background-color: #8BC0DF;
    height: 70px;
    padding-top: 30px;
}

section.carrinho h1 {
    color: #fff;
    text-align: center;
}

#img-produto {
    width: 300px;
}

section.produtos-carrinho {
    display: flex;
    justify-content: space-around;
    margin: 100px 200px;
    align-items: center;
}

@media (max-width: 450px) {
    section.produtos-carrinho {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}

section.frete-preco {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

section.frete-preco input {
    border: 4px solid #8BC0DF;
    border-radius: 14px;
    font-size: 20px;
    padding: 10px;
    height: 20px;
    width: 250px;
    border: 4px solid #8BC0DF;
    border-radius: 14px;
    outline: none;
    margin-right: 20px;
}


section.frete-preco button {
    background-color: #8BC0DF;
    padding: 15px 30px;
    border-radius: 14px;
    border: 4px;
    color: #fff;
}

.resumo {
    background-color: #8BC0DF;
    width: 700px;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#button-resumo {
    background-color: #7728ab;
    padding: 15px 30px;
    border-radius: 14px;
    border: 4px;
    color: #fff;
}

.resumo-last {
    text-align: center;
}

@media (max-width: 450px) {
    .frete-preco {
        text-align: center;
    }
    .resumo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .frete {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
}

section.frete-preco p {
    margin: 5px;
}