.container{
    justify-content: right;
    margin-left: 20px;
}

#categorias{

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;
color: #7728AB;

}

.tituloLista{

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;
color: #8BC0DF;

}

.container ul{
margin-top: 10px;
list-style: none;
font-family: Montserrat;
font-style: none;
font-weight: 500;
font-size: 15px;
}

.container h3{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 34px;
display: flex;
color: #8BC0DF;
margin-top: 20px;
}

div{
    display: inline-block;
}

#categCard{
    float: right;
}
