@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;  
}

a {
  text-decoration: none;
  color: #fff;
}


.header1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 100px;  
  flex-wrap: wrap;
}

header input {   
  border: 4px solid #8BC0DF;
  border-radius: 14px;
  font-size: 20px;
  padding: 10px;
  height: 20px;
  width: 250px;
  border: 4px solid #8BC0DF;
  border-radius: 14px;
}

.buscar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

#button-header1 {
  background-color: #7728ab;
  padding: 15px 30px;
  border-radius: 14px;
  border: 4px;
  color: #fff;
}

#button-header2 {
  background-color: #7728ab;
  padding: 11px 40px;
  border-radius: 14px;
  border: 4px solid #8BC0DF;
  color: #fff;
}

#logo {
  width: 300px;
}

#carrinho {
  width: 40px;
}

.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 150px; 
  background-color: #8BC0DF;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  flex-wrap: wrap;
  height: 30px;
}

footer {
  bottom: 0px;
  background-color: #8BC0DF;
  padding: 40px 210px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#sac {
  margin-left: 40px;
}

.footer-img {
  width: 40px;
  margin-left: 10px;
}

#cards {
  width: 400px;
}

#last-item {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

#last-item a {
  color: #7728ab;
}