* {
    padding: 0;
    margin: 0;
  }

  #slide{
    position: relative;
    cursor: pointer;
  }

  main{
    display: flex;
    justify-content: initial;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    margin-top: 5px;
  }

  .seta-esquerda{
    width: 25px;
    height: 25px;
    margin-bottom: 225px;
  }

  .seta-direita{
    width: 25px;
    height: 25px;
    margin-bottom: 225px;
  }

  .conteiner-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    flex-wrap: wrap;
    text-align: center;
  }
  .cards:hover{
    background-color: #7728ab;
  }

  .btnCard:hover{
    background-color: black;
  }

  .cards{
    
    width: 300px;
    height: 400px;
    background-color: #8BC0DF;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 70px;
    flex-wrap: wrap;
    transition: 1s;
    border-radius: 20px;
    color: white;
  }

  

  .imgProdutos{
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }

  .tituloCard{
    color: white;
    flex-wrap: wrap;
  }

  .precoCard{
    color: white;
    text-decoration: line-through;
    flex-wrap: wrap;
  }

  .precoReal{
    
    color: white;
    flex-wrap: wrap;

  }

  .btnCard{
    position: inherit;
    background-color: #7728ab;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  #marcasParceiras{
    display: flex;
    justify-content: center;
  }

  .marcasLinha1{
    display: flex;
    justify-content: center;
    padding: 50px black;
  }

  #tituloMarca{
    margin-left: 11%;
    text-align:left;
  }

  .marcasLinha1 img{
    width: 5vw;
    border:4px solid #999;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 1s;
  }

  .marcasLinha1 img:hover{
    transform: scale(1.1);
    cursor: pointer;

  }

  .blog{

  }

  .button-header2{
    background-color: #7728ab;
    padding: 11px 40px;
    border-radius: 50px;
    border: 4px solid;
    color: #fff;

  }

  .blog img{
    width: 20vw;
  }

  
  