

@media (max-width: 450px) {
  #card-pai img {
    display: none;
  }
}

.cartao {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

form {
  background-color: #8bc0df;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  padding: 20px;
  text-align: center;
  gap: 10px;
}

@media (max-width:450px) {  
    form {
      width: 350px;
      margin: 30px;
    }  
}

.input-login {
  border-radius: 10px;
  padding: 5px;
}

#click {
  color: #3b5998;
}

img {
  width: 600px;
}

#bt-entrar {
  padding: 7px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #7728ab;
  color: white;
  margin-top: 10px;
  margin-left: 40px;
}
#bt-face {
  padding: 2px;
  width: 200px;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: #3b5998;
  color: white;
  margin-left: 40px;
}
