main div img {
    width: 1400px;
    height: 800px;
}

main div {
    display: flex;
    justify-content: center;
}

main div h1 {
    padding-bottom: 30px;
    color: #8BC0DF;
}

main { 
    display: flex;
    flex-direction: column;
    padding: 50px 160px;
    flex-wrap: wrap;    
}

.quem-somos { 
    margin: 80px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}